.container {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
}

section {
  padding: 0;
  margin: 0;
}
.editor {
  height: 100%;
  width: 40vw;
}
.problem {
  height: 100%;
  width: 40vw;
}
.users {
  height: 100%;
  width: 19vw;
}