.container {
  display: grid;
  height: 100vh;
  grid-template-rows: 2fr 1fr;
  grid-template-columns: 2fr 2fr 1fr;
  grid-template-areas:
    "editor problem users"
    "editor problem stats";
}

.container section {
  padding: 0;
  margin: 0;
}
.editor {
  grid-area: editor;
}
.problem {
  grid-area: problem;
}
.users {
  grid-area: users;
}
.stats {
  grid-area: stats;
}